<p>Gracias por reservar tu guía en la Escuela de Escalada Libre de Torrelodones, {{cart.billing.name}}!</p>
<p>Tu número de reserva es {{cart.number}}, y hemos enviado un email a {{cart.billing.email}} para que lo tengas presente.</p>